@import "./basic.scss";
@import "./animation.scss";

@media (height < 1000px) {
  :root {
    font-size: 16px;  
  }
}

@media (width < 1200px) {
  .main-structure {
    font-size: var(--main-pad-font-size);
  }

  .main-structure header,
  .main-structure .content,
  .main-structure footer {
    padding: var(--screen-pad-padding-top-bottom) var(--screen-pad-padding-left-right);
    /* transition: 0.5s; */
  }

  .main-structure header .menu-logo {
    width: var(--header-toggle-pad-width);
    height: var·(--header-toggle-pad-width);
    background-size: var(--header-toggle-pad-width);
  }

  .main-structure footer a img {
    filter: invert(1);
    width: var(--footer-icon-pad-with);
  }

  .content .text-description h1 {
    font-size: var(--text-description-h1-pad-size);
    line-height: 1em;
  }

  .content .text-description h2 {
    font-size: var(--text-description-h2-pad-size);
    line-height: 1em;
  }

  .content .text-description p {
    font-size: var(--text-description-p-pad-size);
    line-height: 1.5rem;
    max-width: 600px;
    min-width: 400px;
    /* text-align: justify; */
    margin: 2em 0;
  }
}